.display {
    min-width: 80%;
    padding: 10px 20px;
    margin: 20px auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid green;
    outline: none;
    font-size: 26pxd;
    padding: 35px 0 ;
    font-size: 28px;
    font-weight: 700;
  }